table {
  width:500px;
  margin: 10px auto;
  height:auto;
  width:auto;
}


#list, .show {display: none; }
.hide:focus + .show {display: inline; }
.hide:focus { display: none; }
.hide:focus ~ #list { display:block; }


img
{
margin: 6px 12px 6px 0px;
width: 120px;
height: 120px;
border:1px solid #021a40;
    opacity: 0.8;
}

ul {
  list-style-type: none;
}



.hidden{
       display:none;
}


/* visited link */
a:visited {
    color: blue;
}
